@charset "utf-8";
/* CSS Document */

body{
	/*background-image:url(girl-with-a-phone2.jpg); */
	/*Black & White*/
	/*background-image: url(/img/girl-with-a-phone.gif); */
	/* Color background-image: url(/img/girl-with-a-phone2.gif);*/
	/*background-repeat: repeat;
	background-position: center;
	opacity: 0.5;
	filter: alpha(opacity=50);*/
	background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(/img/girl-with-a-phone.gif);
	background-size: cover;
	font-family: Cambria, Georgia, serif;
}
header{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}
h1{
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
h2{
 text-transform: capitalize;
  margin: 0;
  font-size: 2rem;
  white-space: nowrap;
  color: white;
  text-align: left;
  font-family: Cambria, Georgia, serif;

}
nav li{
	text-transform: uppercase;
	margin: 0;
	font-size: 1rem;
	white-space: nowrap;
	color: #C25625;
}
ul{
	list-style-type: none;
}
a{
	text-transform: capitalize;
	margin: 0;
	font-size: 1rem;
	white-space: nowrap;
	color: #C25625;
}

/*.left, .right{
	float: left;
	width: 300px;
	margin: 0px;
	/*background-color: #cccccc;
	text-transform: uppercase;
	font-size: 1rem;
	white-space: nowrap;
	color: white;
}*/
.column1of2 , .column2of2{
	/*margin-left: 80px;
	float: left;
	width: 500px;
	/*margin: 90px;
	text-transform: capitalize;
	font-size: 1rem;
	white-space: nowrap;
	color: white;*/
float: left !important;
text-align:left;
width: 300px;
margin: 20px;
padding: 2px;
text-transform: capitalize;
}
.right{
	float: left;
	width: 300px;
	margin: 40px;
	text-transform: capitalize;
	font-size: 1rem;
	white-space: nowrap;
	color: white;

}


#shell{
	/*background-color: #cccccc;
	font-family: Cambria, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #2C2A2A;
	line-height: 20px;
	text-transform: none;
	margin: 0px 40px 0px 20px;
	padding: 0px 40px 0px 20px;*/
}

/*nav li{
	display: inline;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #2c2a2a;
}*/